# ==============================
# APP CONFIG
# ==============================
NODE_ENV=development
PORT=3000
APP_NAME=your-app-name
APP_URL=http://localhost:3000
IMAGE_TAG=develop

# ==============================
# DATABASE (PostgreSQL)
# ==============================
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password
DB_DATABASE=your_database
DB_LOGGING=true

# ==============================
# 3rd Party Integrations
# ==============================
# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ==============================
# JWT Authentication
# ==============================
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

# ==============================
# MAIL (SMTP)
# ==============================
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_email@gmail.com
MAIL_PASSWORD=your_email_password
MAIL_FROM="Your App <no-reply@yourapp.com>"

# ==============================
# REDIS / QUEUE
# ==============================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Bull Monitor
BULL_MONITOR_PORT=3011
BULL_MONITOR_USERNAME=admin
BULL_MONITOR_PASSWORD=admin
